<html>

<head>
  <title>en2sw-Swahili Translator</title>
</head>

<script type="text/javascript" src="jquery-3.5.1.js"></script>
<script type="text/javascript" src="jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<style>
.content {
  max-width: 1080px;
  margin: auto;
}
body { text-align: center; }
     /* center all items within body, this property is inherited */
body > * { text-align: left; }
     /* left-align the CONTENTS all items within body, additionally
        you can add this text-align: left property to all elements
        manually */
form { display: inline-block; 
        padding: 20px;
    }
     /* reduces the width of the form to only what is necessary */

th{
    font-weight: normal;
}
h1{
    text-align: center;
}
thead>tr>th{
    font-weight: bold;
    text-decoration: underline;
}
</style>

<body class='content'>
        <h1> English 2 Swahili </h1>
        <form action="transave" method="get" class='formcon'>
            <input type="text" name="text">
            <input type="submit">
        </form>
        <br/>
        <table id="example" style="width:90%" class='content'>
            <thead>
                <tr>
                    <th data-type="string">translation</th>
                    <th data-type="string">input</th>
                    <th data-type="datetime">date</th>
                    <!-- <th data-type="string">language</th> -->
                </tr>
            </thead>
            {% for translation in translations %}
                <tr>
                    <th>{{translation['tran']}}</th>
                    <!-- <th>{{translation['lang']}}</th> -->
                    <th>{{translation['text']}}</th>
                    <th>{{translation['time']}}</th>
                </tr>
            {% endfor %}
        </table> 

  </body>

  
</html>





