<!DOCTYPE html>
<html>
	<head>
		<!-- meta block -->
		<title>Setup drag mode - DHTMLX Grid</title>
		<meta name="description" content="Check interactive samples of DHTMLX Grid to explore its configuration and other details.">
		<!-- end meta block -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<script type="text/javascript" src="../../codebase/grid.js?v=6.5.8"></script>
		<link rel="stylesheet" href="../../codebase/grid.css?v=6.5.8">
		<link rel="stylesheet" href="../common/index.css?v=6.5.8">
		<link rel="stylesheet" href="../common/grid.css?v=6.5.8">
		<!-- <script type="text/javascript" src="../common/dataset.js?v=6.5.8"></script> -->
		<!-- custom sample head -->
	</head>
	<body>
		<section class="dhx_sample-controls">
			<button class="dhx_sample-btn dhx_sample-btn--flat" onclick="reset()">RESET</button>
		</section>
			<div>
				<div class="dhx_sample-container__widget" id="grid_both" style="width: 400px; height: 600px; margin-right: 20px;"></div>
			</div>
		</section>
		<script>

			var gridBoth = new dhx.Grid("grid_both", {
				columns: [
					{ id: "country", header: [{ text: "Country" }] },
					{ id: "population", header: [{ text: "Population" }] }
				],
				data: dataset,
				dragMode: "both",
				fitToContainer: true
			});


			function reset() {
				gridBoth.data.parse({% for translation in translations %});
			}
		</script>
	</body>
</html>
